# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Package Files #
*.jar

# Maven target directory
/target/

# IntelliJ IDEA
/.idea/
*.iml

# Eclipse
/.settings/
*.classpath
*.project